<style>
  .main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .left{
    float: left;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .right{
    float: right;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .myPhoto{
    border-radius: 50%;
    height: 150px;
    width: 100px;
    object-fit: cover;
  }
  .right img{
    margin-top: 50px;
    height: 70vh;
    width: 85%;
  }
  
  
</style>
<div *ngIf="modal==false" class="container-fluid main">
  <div class="container-md left">
    
    <img src="assets/foto curriculum.png" class="myPhoto">
    <section class="bg-light p-4 rounded shadow text-center text-justify">
      <p class="lead text-primary">
        Muy buen día. Es un gusto saludarle. 
        <br>
        Me complace presentarle mi proyecto para la posición de desarrollador .NET full stack.
        <br>
        Espero sea de su agrado. 
      </p>
    </section>
    
  </div>
  <div class="container-md right">
    <img src="assets/fondo derecho.png">
  </div>
  
  
</div>
<div  *ngIf="modal" class="container-fluid d-flex flex-column align-items-center justify-content-center mt-2">
  <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
  <p>Por favor finalice su Registro</p>

  <label class="mt-2" for="name">Nombre</label>
  <input class="mt-2" id="name" type="text" placeholder="Nombre" [(ngModel)]="name"> 
  <label class="mt-2" for="lastName">Apellido</label>
  <input class="mt-2" id="lastName" type="text" placeholder="Apellido" [(ngModel)]="lastName">
  <label class="mt-2" for="Address">Dirección</label>
  <input class="mt-2" id="Address" type="text" placeholder="av.Dirección no.1" [(ngModel)]="direction">
  
  <button (click)="saveClient()" type="button" class="btn btn-primary mt-2">Guardar</button>

</div>   