<style>
    a img{
      width: 30%;
      height: 30%;
    }
    .navbar {
    background-color: #214f7f; 
  }
  
  .navbar-brand {
    color: #fff; 
  }
  
  .navbar-toggler {
    border-color: #fff; 
  }
  
  .nav-link {
    color: #fff; 
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: #000000; 
  }
  
  .nav-link.disabled {
    color: rgba(255, 255, 255, 0.5); 
  }
  
  .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0; 
  }
  .nav-item .btn-info{
    float: right;
  }
  </style>
  <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand " href="/clients"><img class=" rounded-3" src="assets/tiendaLogo.jpg" alt="logo" ></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/clients"><i class="fa-solid fa-house"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stores"><i class="fa-solid fa-shop"></i> Tiendas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products"><i class="fa-solid fa-box"></i> Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping"></i>Carrito</a>
            </li>
            <li class="nav-item">
              <button class="btn btn-info " (click)="logout()">Cerrar sesión</button>
            </li>
          </ul>
        </div>
      </div>
  </nav> 
