<div class="container">
  <h1>Sales</h1>
  <div *ngIf="admin==true">
    <button class="btn btn-primary" >Finalizar compra</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Code</th>
        <th>image</th>
        <th>description</th>
        <th>price</th>
        <th>stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sale of Cart">
        <td>{{sale.code}}</td>
          <td><img src="{{sale.image}}" alt="{{sale.code}}">{{sale.image}}</td>
          <td>{{sale.description}}</td>
          <td>{{sale.price}}</td>
          <td>{{sale.stock}}</td>
        <td><button class="btn btn-danger" (click)="deleteSale(sale.sales)">Eliminar del carrito </button></td>
      </tr>
    </tbody>
  </table>
</div>